<%

# TODO move this into a helper later TODO
# TODO remove completely - this is no longer used

#
# the calendar shall show slots that have varying availabilities
# slots that are available to be taken are one color
# slots that are reserved are another color ( probably red )
# slots that you have chosen for use yet another color
#
# the entire calendar acts as a hidden form element so it can be submitted with a form
#

buffer = []
buffer << "<style type='text/css'>"
buffer << ".pickfree { background-color: green; width:16px; height:16px; }"
buffer << ".pickbusy { background-color: red; width:16px; height:16px; }"
buffer << ".pickwant { background-color: orange; width:16px; height:16px; }"
buffer << ".pickglow { background-color: white; width:16px; height:16px; }"
buffer << "</style>"

#
# calendar javascript helpers
#
# when you select an available slot it will be marked as reserved
# when you select a busy slot nothing shall happen
# when you select a picked slot it shall be freed
#

buffer << "
<script language='javascript' type='text/javascript'>
function openathon_pick_handler(node) {
  var c = node.getAttribute('class');
  var id = node.getAttribute('id');
  if(c == 'pickfree') {
    c = 'pickwant';
  } else if(c == 'pickwant' || c == 'pickglow') {
    c = 'pickfree';
  }
  node.setAttribute('class',c);
  openathon_gather_choices();
  return false;
}
function openathon_gather_choices() {
  var slots = new Array();
  var nodes = document.getElementsByClassName('pickglow');
  for (var i = nodes.length - 1 ; i >= 0 ; i-- ) {
    slots.push(nodes[i].getAttribute('id'));
  }
  nodes = document.getElementsByClassName('pickwant');
  for (var i = nodes.length - 1 ; i >= 0 ; i-- ) {
    slots.push(nodes[i].getAttribute('id'));
  }
  var store = document.getElementById('team_calendar');
  if(store) {
    store.value = slots.join(',');
  }
}
</script>
"

#
# The calendar shall show rows and columns indicating slots that we can use
# These shall be the names of those rows and columns
#

room_names = [ "1","2","3","4","5","6" ]
room_times = [
               "5pm to 8pm",
               "8pm to 11pm",
               "11pm to 2am",
               "2am to 5am",
               "5am to 8am",
               "8am to 11am",
               "11am to 2pm",
               "2pm to 5pm"
             ]
buffer << "<table border=1>"
buffer << "<tr>"
buffer << "<th>&nbsp;</th>"
room_names.each do |roomname|
  buffer << "<th>#{roomname}</th>"
end
buffer << "</tr>"
room_times.each do |roomtime|
  buffer << "<tr>"
  buffer << "<td>#{roomtime}</td>"
  room_names.each do |roomname|
    slot = "#{roomname} - #{roomtime}"
    yours = @team && @team.slot_yours?(slot)
    taken = Team.slot_taken?(slot)
    pick = "pickfree"
    pick = "pickwant" if yours
    pick = "pickbusy" if taken && !yours
    pick = "pickglow" if taken && yours
    buffer << "<td>"
    buffer << "<div id='#{slot}' class='#{pick}' onclick='openathon_pick_handler(this);'></div>"
    buffer << "</td>"
  end
  buffer << "</tr>"
end
buffer << "</table>"

#
# the calendar is a form element
# TODO a bit ugly here - i am hardcoding the form name
# 

buffer << "<input id='team_calendar' name='team[calendar]' type='hidden' />"

%>

<%= buffer.join("\n") %>

