<% if current_user %>
<h1><%= link_to "invite", invite_path(current_user.id) %></h1>
<% else %>
<h1><%= link_to "invite", signup_path %></h1>
<% end %>
<p>friends to your team</p>
<h1><a href="">raise</a></h1>
<p>ask folks to donate</p>
<h1>members</h1>
<ul>
<% @member_list.each do |user| %>
   <li><%= user.firstname %> <%= user.lastname %></li>
<% end %>
</ul>
<h1>timeslot</h1>
