<h1>search</h1>
<form>
<input name="q" />
<input type=submit value="search!"/>
</form>

<h2>teams</h2>

<div class="searchresults">
<%
 left = "left" 
 @teams.each do |team|
  %><div class="search<%=left%>"><%
  @member_list = User.find(:all, :conditions => ["team_id = ?", team.id])
   %><h3><%= link_to team.name, team %></h3>
   <p class="explain"><%= team.description.strip %></p>
   <% @member_list.each do |user| %>
    <%=  user.firstname %><%
  end
  %></div><%
  if left == "right"
    left = "left"
    %><div style="clear:both;"></div><%
  else
    left = "right"
  end
 end
%>
</div>
