
<h1>Search Filter</h1>
<form>
<input name="q"/>
<input type=submit value="search!"/>
</form>

<h1>Results</h1>

<h3>Team Name and Descriptions</h3>
<% @teams.each do |team| %>
<%= link_to team.title, team %> ><%= team.description %><br/>
<% end %>

