<%#
Invite others to your team
%>

<h1>Recruit new members for <%= @team.title %>!</h1>

Hello <%= current_user.firstname %>!<br/>

<!-- TODO:  gmail and other contact import -->

<h2>Enter email addresses of your friends in the box below.</h2>
Use commas to separate email addresses.

<% form_tag '/invite_do', :method => 'post' do -%>
  <%= text_area_tag :invite_blog %>
  <%= submit_tag "Invite!" %>
<%end%>




