<h1>Please fill out your team profile and pick some desired times that you would like to sing at</h1>


<div style="float:left;padding:30px"><%= render :partial => "calendar" %></div>
<div style="float:left;padding:30px"><%= render :partial => "form"%></div>
<div style="clear:both"></div>
