db/schema.rb
public/.DS_Store
.DS_Store
log/*.log
tmp/**/*
doc/api
doc.app
settings.yml
config/database.yml
config/settings.yml
config/config.yml
nbproject
nbproject/*
.git/config
*.swp
db/db_development
public/system/photos/*
public/photos/*
public/system
db/schema.rb
