/* Adapted from http://www.alistapart.com/articles/multicolumnlayouts/ */

body { padding: 0;
margin: 0;
font-family:Verdana,Arial,Tahoma,Helvetica,sans-serif;
  font-size: 12px;
  height: 100%;
}


html {
  height: 100%;
}


#normal_container {
  width: 100%;
}

#horiz_bar {
  background: url(/images/bground_blue.gif) repeat-x left top;
  overflow: hidden;
  width: 100%;
}

#splash_container{
  float:left;
  width: 421px;
  margin-left: 400px;
}

#splash_leftside{
  float:left;
  width:201px;
  position:relative;  
  padding: 25px;
  background-color: #A5CEFF;
  height: 64px;
}

#splash_middleside{
  float:left;
  width:560px;
  background: url('/images/bg_home.gif') repeat-y top right;
  min-height:560px;

}
#splash_rightside{
  font-size: 70%;
  text-transform: uppercase;
  font-weight: bold;
  float:left;
  width:181px;
  position:relative;
  background-color: #a5ceff;
  text-align: right;
  height:97px;
  padding:17px 17px 0;
}

#raise-voice{
  font-size: 103%;
  background:#000  url("/images/bg2.png") repeat-y top right;
  color: #fff;
  padding: 17px 58px 17px 22px;
  text-align: justify;
  height: 80px;
}

#raise-voice .highlight{
  color: orange;
  text-transform: uppercase;
  font-size: 100%;
  display:inline;
  font-weight: bold;
}

#splash_middleside #mainmenu {
padding:29px 58px 29px 29px;
  margin: 0; 
} 

#mainmenu a, #mainmenu h1 {
  color: white;
  text-decoration: none;
  font-size: 260%; 
  font-weight: bold;
  padding: 0;
}

#mainmenu a:hover {
  color: yellow;
} 

#mainmenu p{
  text-transform: uppercase;
  color: #000;
  line-height:1.1;
}

#topraisers {
  background-image: url("/images/top5bg.png");
  margin: 0px 20px;
  font-size: 95%;
  color: white;
  width: 316px;
  height: 161px;
  padding: 17px 20px 17px;
  overflow: none;
}

.top5 { 
  display: inline;
  width: 202px;
  float: left;
  background-color: #2f2d24;
  text-align: left;
  color: #D9E021;
  font-size:130%;
  margin-top:11px;
  border-top:3px dashed #8CC63F;
}
#teamtop5 tr.listview {
  color: white;
  font-size:83%;
}

#topraisers tr th{
  border-top: 3px dashed #76d842;
  border-bottom: 3px dashed #76d842;
  color: #D9E021;
}

#topraisers td {
  padding: 0px;
}
#home_graphic {
 margin: 0 0 0 111px;
}

a {
 text-decoration:none;
}

#footer {
  text-align: center;
  clear: both;
  padding-right:70px;
  width:707px;
  bottom: 0;
  color: #aaa;
  padding-top: 1px;
}

#footer a {
  color: #888;
}

#footer a:visited {
  color: #aaa;
}
#footer a:hover {
  color: #EE7733;
  text-decoration: underline;
}

#teamtop5 {
  width:468px;
  padding:0 0 20px 0;
  margin:10px 0 12px 0; 
  background:url("/images/teambox_home.png") bottom left no-repeat;
  min-height: 150px;
}

#teamtop5 .boxxy {
  overflow:hidden;
  padding:30px 30px 10px;
  margin:0;
  background:url("/images/teambox_home.png") top left no-repeat;
}

#raise-voice a {
	text-decoration: underline;
	color: white;
}
