/* Adapted from http://www.alistapart.com/articles/multicolumnlayouts/ */

body { padding: 0;
margin: 0;
font-family:Verdana,Arial,Tahoma,Helvetica,sans-serif;
  font-size: 12px;
	height: 100%;
}


html {
	height: 100%;
}


#normal_container {
	width: 100%;
	}
#horiz_bar {
	background: url(/images/bground_blue.gif) repeat-x left top;
overflow: hidden;
}
#splash_container{
  float:left;
  width: 421px;
  margin-left: 400px;
}
#splash_leftside{
  float:left;
  width:201px;
  position:relative;  
  padding: 25px;
  background-color: #A5CEFF;
  height: 64px;
}
#splash_middleside{
  float:left;
  width:560px;
  background: url('/images/bg3.png') repeat-y top right;
  min-height:560px;

}
#splash_rightside{
  font-size: 70%;
  text-transform: uppercase;
  font-weight: bold;
  float:left;
  width:300px;
  position:relative;
  background-color: #a5ceff;
  text-align: right;
  height:97px;
  padding: 17px 17px 0px 0px;
}

#raise-voice{
  font-size: 85%;
  background:#000  url("/images/bg2.png") repeat-y top right;
  color: #fff;
  padding: 17px 42px 17px 22px;
  text-align: justify;
  height: 80px;
}
#raise-voice h2{
  color: orange;
  text-transform: uppercase;
  font-size: 100%;
  display:inline;
}

#splash_middleside #mainmenu {
  padding: 22px;
  margin: 0; 
} 

#mainmenu a, #mainmenu h1 {
  color: white;
  text-decoration: none;
  font-size: 200%; 
  font-weight: bold;
  padding: 0;
} 
#mainmenu p{
  text-transform: uppercase;
  font-size: 80%; 
  color: #000;
  padding: 0;
  padding-bottom: 15px;
  line-height:.1;
}

#topraisers {
  background-image: url("/images/top5bg.png");
  margin: 0px 20px;
  font-size: 95%;
  color: white;
  width: 316px;
  height: 161px;
  padding: 17px 20px 17px;
  overflow: none;
}

.top5 { 
  display: inline;
  width: 47%;
  float: l;
  background-color: #2f2d24;
}

#topraisers tr th{
  border-top: 3px dashed #76d842;
  border-bottom: 3px dashed #76d842;
  color: #c9f41c;
}

#topraisers td {
  padding: 0px;
}

#footer {
	text-align: center;
	clear: both;
	padding-right:70px;
	width:707px;
    bottom: 0;
    color: #aaa;
}

#footer a {
	color: #888;
}

#footer a:visited {
	color: #aaa;
}
#footer a:hover {
	color: #EE7733;
	text-decoration: underline;
}

