/* Adapted from http://www.alistapart.com/articles/multicolumnlayouts/ */

body { padding: 0;
margin: 0;
font-family: sans-serif;
}

#splash_container{
  float:left;
  width:500px;
  border-left:150px solid #fff; 
  /* The width and color of the left rail */
  border-right:200px solid #fff; 
  /* The width and color of the right rail */
  padding-bottom: 30px;
}
#splash_leftside{
  float:left;
  width:150px;
  margin-left:-150px;
  position:relative;
}
#splash_middleside{
  background-color:#0ff;
  float:left;
  width:500px;
  margin-right:-500px;
}
#splash_rightside{
  float:right;
  width:200px;
  margin-right:-200px;
  position:relative;
}

#login-header{
  background-color: #0ff;
  text-align: right;
}

#raise-voice{
  background-color:#000;
  color: #fff;
  padding: 30px 10px;
  text-align: justify;
}
#raise-voice h2{
  color: orange;
  text-transform: uppercase;
  font-size: 100%;
  display:inline;
}

#content #mainmenu {
  padding: 10px;
  margin: 0; 
} 

#mainmenu a {
  color: white;
  text-decoration: none;
  font-size: 200%; 
  font-weight: bold;
  padding: 0;
} 
#mainmenu p{
  text-transform: uppercase;
  font-size: 70%; 
  color: #000;
  padding: 0;
  line-height:.1;
}

#topraisers {
  background-color: #666;
  margin: 0px 40px;
}

.top5 { 
  display: inline;
  width: 70%;
}

#topraisers th{
  border-top: 3px dashed green;
  border-bottom: 3px dashed green;
}

#topraisers td {
  padding:10px;
}
