/* Adapted from http://www.alistapart.com/articles/multicolumnlayouts/ */
/* 'normal' pages - every page except the splash - have this style */

body { 
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('/images/lace.png') repeat-x top center;
}

a {
 text-decoration:none;
 font-family: Arial;
}
#login-header{ 
  text-align: right;
  font-size:70%;
  text-transform:uppercase;
  height:81px;
  /*padding-top:15px;*/
}

#login-header * {
  display: inline;
}
#login-header #left-login {
  padding: 10px 60px 57px 0;
  margin-left: 589px;
  background: url('/images/tile-stripe.png') no-repeat top right; 
  float:left;
}

#login-header #right-login{
  float:right;
  margin-top: 10px;
}

#login-header i { text-transform: none;
  font-family: serif; }

#login-header #left-login p a, #login-header #right-login p a {
  padding: 10px;
}

#notice{
  color: red;
  font-family: Times, serif;
  background: url('/images/oops.png') no-repeat;
  margin: 15px 0;
  padding-left: 165px;
  min-height: 30px;
}

#normal_container {
  float:left;
  width: 550px;
  border-left:211px solid #fff; 
  /* The width and color of the left rail */
  border-right:px solid #fff; 
  /* The width and color of the right rail */
  padding: 0;
  margin: 0;
}

#normal_left{
  float:left;
  width:211px;
  margin-left:-211px;
  position:relative;  
  padding-left:40px;
}
#normal_left h1 {
  color: #8c4;
  font-family: "Arial Black";
  padding: 0;
  line-height:.1;
}

#normal_left h1 a{
  color: #e73;
  font-family: "Arial Black";
}
#normal_left p{
  text-transform: uppercase;
  font-size: 70%; 
  color:#F20073;
  padding: 0;
  padding-bottom: 15px;
  line-height:.1;
}

#normal_left p.ital, #normal_left li{
  font-family: Times, serif;
  font-style: italic;
  text-transform: normal;
  font-size: 100%; 
  color:#000;
}

#normal_left ul { padding: 0; }

#normal_left li{
  list-style: none;
  list-style-position: outside;
  padding:0; 
}
#normal_middle {
  float:left;
  width:550px;
  margin-right:-550px;
  background: url('/images/bg3.png') repeat-y top right;
}

#normal_middle .login {
  float:right;
  width:400px;
  height:100px;
}
#normal_middle h1 {
  color: #8c4;
  font-family: "Arial Black";
  line-height: .1;
}
#normal_middle input {
  border: 8px solid #f0f0f0;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
}
#normal_middle h2 {
  clear:both;
  color: #666;
  font-weight: bold;
}
#normal_middle a {
  color: #e73;
  font-size: 1.3em;
  font-weight: lighter; 
  font-style: italic;
  font-family: Times serif;
}

.explain{
  font-size:70%;
  line-height:0.1;
  padding:0 0 15px;
  text-transform:uppercase;
}

#normal_right{
  float:right;
  width:200px;
  margin-right:-200px;
  position:relative;
}

#teamtop5{
		width:468px;
		padding:0 0 20px 0;
		margin:10px 0; 
		background:url("/images/teambox.png") bottom right no-repeat;
   min-height: 150px;
}

#teamtop5 .no1 {
 float:left; 
  padding-top:10px;
}
#teamtop5 .no1 img{
  vertical-align: top;
}

#teamtop5 p, #teamtop5 th{
  color: #00A49A;
  font-family: "Arial Black";
}
#teamtop5 p{ 
  margin: 0;
 padding-left: 17px;
}

#teamtop5 th {
  border-bottom: 2px dashed #88CC44;
}

#teamtop5 .boxxy{
	padding: 20px 0px 0px 20px;
	margin:0;
	background:url("/images/teambox.png") top left no-repeat;
}

#teamtop5 table{
 margin-right: 35px; 
  width: 50%;
float:right;
}

.teamtop5 a {
  font-size: 70%;
  font-family: sans-serif;
  display:block;
}

#admin{
  width:468px;
  padding:0 0 20px 0;
  margin:10px 0; 
  background:url("/images/teambox.png") bottom right no-repeat;
 min-height: 150px;
}

#admin h2 {
  color: #00A49A;
  padding: 27px 0 0 30px;
  margin: 0;
  background:url("/images/teambox.png") top right no-repeat;
  font-family: "Arial Black"; 
}

#admin table{
  margin-left: 30px;
}

#admin table.user{
  color: #444;
  margin-left: 40px;
}

.searchresults {
  width:640px;
}

.searchlinks {
 text-decoration:none;
  color: #666;
  font-size: 0.9em;
  font-weight: lighter; 
  font-family: Times serif;
}
.searchleft {
  width:300px;
  height:200px;
  float:left;
}
.searchright {
  width:300px;
  height:200px;
  float:right;
}



