#normal_container {
  float:left;
  width: 811px;
  padding: 0;
  margin: 0;
    min-height: 100%;
}

#normal_left{
  float:left;
  width:201px;
  position:relative;  
  padding: 25px;
}

#normal_middle {
background: url(/images/bg3.png) repeat-y scroll right top;
float:left;
min-height:680px;
padding-right:60px;
width:500px;
}

#normal_right{
  float:right;
  width:200px;
  margin-right:-200px;
  position:relative;
}

#normalright a {
 text-decoration:none;
}

img {
 text-decoration:none;
 border: 0px;
}

