<%= render :partial => "index/login_header" %>

<div id ="header" style="clear:both;">
 <a href="/"><img style="float:left" src="/images/vb_logo_cyan.jpg" height="50%" width="50%"></a>
 <div id="mainheader">Raise Your Voice!</div>
 <img style="float:right" src="/images/EthosLogo_1_sm.gif">
 <div style="clear:both"></div>
 <hr>
 <h1><p style="color: green"><%= flash[:notice] %></p></h1>
 <h1><p style="color: red"><%= flash[:warning] %></p></h1>
</div>

