<div id="raise-voice">
 

Thank you to all of the Raise Your Voice participants, donors, and sponsors.  Thanks to your support, Ethos Music Center will reach a record number of underserved students living in the state of Oregon during the 2009-2010 school year. Please follow us on Facebook or Twitter for details about next year’s event. 

<!--
Want to make karaoke history? <span class="highlight">Start a team and reserve your 3-hour timeslot today!</span> Raise your voice is a 24-hour karaoke marathon to benefit <a href="http://ethos.org">Ethos Music Center</a> held at <a href="http://voicebox.com">Voicebox Karaoke</a>. If you like karaoke, put your money where your mic is on September 24th and 25th 2009, and join hundreds of fellow singers to keep the music going all night long... and then some! Help provide music education to thousands of students across Oregon by grabbing some friends, raising some cash, and raising your voice! <a href="/about">Find out more here</a>. 
-->

</div>
