<style>
a {
 color: red;
}
</style>
<div id="raise-voice">
<h2>Raise your voice</h2> 
<a href="/">Raise Your Voice</a> is a 24-hour karaoke marathon to benefit <a href="http://ethos.org">Ethos Music Center</a> held at <a href="http://voicebox.com">Voicebox Karaoke</a>. If you like karaoke, put your money where your mic is on September 24th and 25th 2009, and join hundreds of fellow singers to keep the music going all night long... and then some! Help provide music education to thousands of students across Oregon by raising your voice! <a href="/about">Find out more here</a>. 
</div>
