<!--
<div style="float:right;width:260px;background:#f0f0ff;border:3px solid #fff0f0">
<b>Did we mention? There are PRIZES!</b>
<br/>
Top $$ raisers win awesome stuff. 
<br/>
Top Teams Get to Choose:
<br/>
<ul>
<li>1 FREE Night in a PGE Park Suite
<li>1 FREE Private Party at <a href="http://voiceboxpdx.com">Voicebox</a>
<li>Tickets to Oaks Park
<li>And MORE...
</ul>
Top Individuals Get to Choose:
<ul>
<li>Blazers Basketball Signed by the Whole Team
<li>Signed Cowboy Junkies Guitar
<li>1 FREE night at the Downtown Marriott
<li>$100 Ethos gift certificate for music lessons
<li>Columbia Distributors Gift Pack
<li>And MORE...
</div>

-->

