<div>
<p><strong>Did we mention? There are PRIZES!</strong><br>
Top $$ raisers win awesome stuff.</p> 
Top Teams Get to Choose:
<ul>
<li>1 FREE Night in a PGE Park Suite
<li>1 FREE Private Party at <a href="http://voiceboxpdx.com">Voicebox</a>
<li>And MORE...
</ul>
Top Individuals Get to Choose:
<ul>
<li>Blazers Basketball Signed by the Whole Team
<li>Signed Cowboy Junkies Guitar
<li>1 FREE night at the Downtown Marriott
<li>And MORE...
</div>
