<h1>About Raise your Voice</h1>
 <br>
<p><font size="3" face="Arial Narrow"><b>What is Raise Your Voice?</b></font></p>
 <br>
<p><font size="3" face="Arial Narrow"><b>Raise Your Voice</b> is a 24-hour 
karaoke marathon to benefit <b>Ethos Music Center</b> held at Voicebox 
Karaoke, located on 21<sup>st</sup> and NW Hoyt. If you like karaoke, 
put your money where your mic is on <b>September 24</b><sup><b>th</b></sup><b> 

and 25</b><sup><b>th</b></sup><b> 2009, </b>
and join hundreds of fellow singers to keep the music going all night 
long…and then some! Help provide music education to thousands of students 
across Oregon by raising your voice! Raise Your Voice is the first fundraiser 
of this kind to be held in the Portland area. </font></p>
 <br> <br>
<p><font size="3" face="Arial Narrow"><b>When will Raise Your Voice 
take place?</b></font></p>
 <br>
<p><font size="3" face="Arial Narrow">This fundraiser will take place <b>
September 24</b><sup><b>th</b></sup><b> 

– 25</b><sup><b>th</b></sup>. The event will begin on Thursday, September 
24<sup>th</sup> with a kickoff event from 4pm-5pm. Kids from Ethos Music 
Center will start the night with a talent performance. The karaoke will 
begin at 5pm and teams will be singing non-stop until 5pm on Friday, 
September 25<sup>th</sup>.  Teams sign up for a portion of the 
24-hours, so the building will be rocking all night long. Of course, 
teams are welcome to step up to the challenge and sing for all 24 hours!  
Throughout the event, we will provide entertainment (vendor booths, 
bands, movies, etc.) to make Raise Your Voice an exciting experience 
for all participants throughout the duration of the event. </font></p>
 <br>
<p><font size="3" face="Arial Narrow"><b>How does it work?</b></font></p>
 <br> <br>
<p><font size="3" face="Arial Narrow"><b>It’s pretty easy. </b>

Team Captains start teams and get their friends to join. Captains tell 
us when the team wants to sing and each team signs up for at least 3 
hours work of singing time. Teams commit to raising at least $500 per 
hour of singing (3 hours = $1,500 goal). Six teams can sing at once. 
A team can sign up for as many hours as the wish, but must commit to 
the <i>minimum of</i> <i>$500 per hour for three hours</i>. Teams of 
various sizes are welcome to register, including teams of one. We will 
do our best to schedule teams based on their time preferences.  
We will notify teams <i>at least two weeks prior</i> to the event.</font></p>
 <br>
<p><font size="3" face="Arial Narrow">Once the team is formed, <b>friends 
can join</b> and ask their friends to help <b>sponsor their teams</b>. 
All donations are collected and tracked on this site in real time, so 
everyone can see where they stand. Prizes are awarded to those who raise 
the most – teams and individuals. </font></p>

 <br>
<p><font size="3" face="Arial Narrow">Then, on September 24<sup>th</sup>, 
we will celebrate our hard work and <b>raise our voices</b> for Ethos 
and the importance of music education. </font></p>
 <br>
<p><font size="3" face="Arial Narrow">If the minimum amount is raised 
for all timeslots, we will raise <b>$72,000</b>. We anticipate teams 
exceeding this goal!</font></p>
 <br> <br>

<p><font size="3" face="Arial Narrow"><b>BREAK IT DOWN. Follow these 
easy steps and you’ll be on your way to raising your voice 
– and some cold, hard cash:</b></font></p>
 <br><a name="0.1_table02"></a>
<div align="left">
<table width="686" border="2" cellspacing="0">
<tr valign="top"><td><font size="3" face="Arial Narrow"><b>TEAM CAPTAINS</b></font></td>
  <td><font size="3" face="Arial Narrow"><b>TEAM MEMBERS</b></font></td></tr>
<tr valign="top"><td><font size="3" face="Arial Narrow"><i>You want 
  to start a team, invite your friends, and lead your team to victory.</i></font></td>
  <td><font size="3" face="Arial Narrow"><i>You want to join an existing 
  team and follow your captain to victory.</i></font></td></tr>
<tr valign="top"><td>

  <ul><font size="3" face="Arial Narrow">Create an account</font></ul></td>
  <td>
  <ul><font size="3" face="Arial Narrow">Create an account</font></ul></td></tr>
<tr valign="top"><td>
  <ul><font size="3" face="Arial Narrow">Pay your registration fee ($13)</font></ul></td>
  <td>
  <ul><font size="3" face="Arial Narrow">Pay your registration fee ($13)</font></ul></td></tr>

<tr valign="top"><td>
  <ul><font size="3" face="Arial Narrow">Create your team – add 
  your team name, sign up for hours, and set your fundraising goal</font></ul></td>
  <td>
  <ul><font size="3" face="Arial Narrow">Find your team on the “Find 
  Teams” page</font></ul></td></tr>
<tr valign="top"><td>
  <ul><font size="3" face="Arial Narrow">Invite your friends to join your 
  team</font></ul></td>
  <td>
  <ul><font size="3" face="Arial Narrow">Click “Join Team”</font></ul></td></tr>

<tr valign="top"><td>
  <ul><font size="3" face="Arial Narrow">Ask for donations – send 
  emails directly from this site. So easy! </font></ul></td>
  <td>
  <ul><font size="3" face="Arial Narrow">Ask for donations – send 
  emails directly from this site. So easy!</font></ul></td></tr>
<tr valign="top"><td>
  <ul><font size="3" face="Arial Narrow">Show up for your schedule time(s) 
  on September 24<sup>th</sup>-25<sup>th</sup> and RAISE YOUR VOICE!</font></ul></td>

  <td>
  <ul><font size="3" face="Arial Narrow">Show up for your schedule time(s) 
  on September 24<sup>th</sup>-25<sup>th</sup> and RAISE YOUR VOICE!</font></ul></td></tr>
</table>
</div>
 <br>
<p><font size="3" face="Arial Narrow"><b>Prizes</b></font></p>
 <br>

<p><font size="3" face="Arial Narrow">Prizes will be awarded to the 
teams and individuals that raise the most money. More info coming soon 
but don’t worry, they will be sweet prizes.</font></p>
 <br>
<p><font size="3" face="Arial Narrow"><b>Donations </b></font></p>
 <br>
<ul type="DISC">
  <li><font size="3" face="Arial Narrow">Donations are accepted 
  online only.  Donors can use any major credit card.  Sorry, 
  we can’t accept cash or checks.</font></li>
  <li><font size="3" face="Arial Narrow">Donations are fully 
  tax deductible.  A reciept will be emailed to donors after their 
  credit card is processed.</font></li>
  <li><font size="3" face="Arial Narrow">Teams solicit donations 
  by directing friends and family to their team site.</font></li>

  <ul type="DISC">
    <li><font size="3" face="Arial Narrow">Tell your friends and 
    family via email, word of mouth, posting links on social networking 
    sites, directing people to Voicebox site, etc.</font></li>
    </ul>
  <li><font size="3" face="Arial Narrow">Donations are tracked 
  in real time on the website.</font></li>
  <li><font size="3" face="Arial Narrow">No refunds will be 
  issued to anyone who donates, regardless of whether cancellation, illness, 
  or acts of god bar the team from participating. All donations will become 
  the property of Ethos Music Center.</font></li>
</ul>
 <br> <br>

<p><font size="3" face="Arial Narrow"><b>What is Ethos Music Center?</b></font></p>
 <br>
<p><font size="3" face="Arial Narrow"><b>Ethos Music Center </b>
is dedicated to the promotion of music and music based education for 
youth in underserved communities. Ethos serves over 7,000 students a 
year throughout the state of Oregon with direct and sustained music 
education.  Ethos firmly believes that music education and its 
associated academic benefits keep at-risk children engaged in their 
families, their communities, and their futures.          </font></p>
 <br>
<p><font size="3" face="Arial Narrow">Ethos is dedicated to continuing 
a tradition of quality programming and organizational sustainability. 
Ethos Music Center has a comprehensive fundraising strategy comprised 
of major gifts, membership, annual appeals, fundraising events, and 
corporate and foundation support. Ethos also generates over 60% of earned 
revenue income through fees-for-services and the operation of the Ethos 
Café.</font></p>
<p><font size="3" face="Arial Narrow">  </font></p>
<p><font size="3" face="Arial Narrow">Ethos Music Center maintains a 
low administrative cost of only 11% (most nonprofit organizations operate 
at 18-22%) so financial gifts go directly towards bringing music education 
to the lives of Oregon’s school aged children. </font></p>

 <br> <br>
<p><font size="3" face="Arial Narrow"><b>Contact Information</b></font></p>
 <br>
<p><font size="3" face="Arial Narrow">For questions regarding the event, 
or for assistance registering, please email </font><a href="mailto:raiseyourvoicepdx@gmail.com" target="_blank"><font color="#0000FF" size="3" face="Arial Narrow"><u>raiseyourvoicepdx@gmail.com</u></font></a><font size="3" face="Times New Roman">.</font><font size="3" face="Arial Narrow"> 
Be sure to include your team name (if you have one) so that we can best 
assist you.</font></p>
 <br> <br> <br>

