<h1>About Raise your Voice</h1>
 
<h3>What is Raise Your Voice?</h3>

<p><b>Raise Your Voice</b> is a 24-hour 
karaoke marathon to benefit <b>Ethos Music Center</b> held at Voicebox 
Karaoke, located on 21st and NW Hoyt. If you like karaoke, 
put your money where your mic is on <b>September 24</b><b>th</b><b> 

and 25</b><b>th</b><b> 2009, </b>
and join hundreds of fellow singers to keep the music going all night 
long…and then some! Help provide music education to thousands of students 
across Oregon by raising your voice! Raise Your Voice is the first fundraiser 
of this kind to be held in the Portland area. </p>
  
<h3>When will Raise Your Voice 
take place?</h3>
 
<p>This fundraiser will take place <b>
September 24</b><b>th</b><b> 

– 25</b><b>th</b>. The event will begin on Thursday, September 
24th with a kickoff event from 4pm-5pm. Kids from Ethos Music 
Center will start the night with a talent performance. The karaoke will 
begin at 5pm and teams will be singing non-stop until 5pm on Friday, 
September 25th.  Teams sign up for a portion of the 
24-hours, so the building will be rocking all night long. Of course, 
teams are welcome to step up to the challenge and sing for all 24 hours!  
Throughout the event, we will provide entertainment (vendor booths, 
bands, movies, etc.) to make Raise Your Voice an exciting experience 
for all participants throughout the duration of the event. </p>
 
<h3>How does it work?</h3>
  
<p><b>It’s pretty easy. </b>Team Captains start teams and get their friends to join. Captains tell 
us when the team wants to sing and each team signs up for at least 3 
hours work of singing time. Teams commit to raising at least $500 per 
hour of singing (3 hours = $1,500 goal). Six teams can sing at once. 
A team can sign up for as many hours as the wish, but must commit to 
the <i>minimum of</i> <i>$500 per hour for three hours</i>. Teams of 
various sizes are welcome to register, including teams of one. We will 
do our best to schedule teams based on their time preferences.  
We will notify teams <i>at least two weeks prior</i> to the event.</p>
 
<p>Once the team is formed, <b>friends 
can join</b> and ask their friends to help <b>sponsor their teams</b>. 
All donations are collected and tracked on this site in real time, so 
everyone can see where they stand. Prizes are awarded to those who raise 
the most – teams and individuals. </p>

 
<p>Then, on September 24th, 
we will celebrate our hard work and <b>raise our voices</b> for Ethos 
and the importance of music education. </p>
 
<p>If the minimum amount is raised 
for all timeslots, we will raise <b>$72,000</b>. We anticipate teams 
exceeding this goal!</p>
  

<h3>BREAK IT DOWN. Follow these 
easy steps and you’ll be on your way to raising your voice 
– and some cold, hard cash:</h3>
<br />
<div align="left">
<table width="686" border="0" cellspacing="0" cellpadding="2">
<tr valign="top"><td><b>TEAM CAPTAINS</b></td>
  <td><b>TEAM MEMBERS</b></td></tr>
<tr valign="top"><td><i>You want 
  to start a team, invite your friends, and lead your team to victory.</i></td>
  <td><i>You want to join an existing 
  team and follow your captain to victory.</i></td></tr>
<tr valign="top"><td bgcolor="#eee">

  Create an account</td>
  <td bgcolor="#eee">
  Create an account</td></tr>
<tr valign="top"><td>
  Pay your registration fee ($13)</td>
  <td>
  Pay your registration fee ($13)</td></tr>

<tr valign="top"><td bgcolor="#eee">
  Create your team – add 
  your team name, sign up for hours, and set your fundraising goal</td>
  <td bgcolor="#eee">
  Find your team on the “Find 
  Teams” page</td></tr>
<tr valign="top"><td>
  Invite your friends to join your 
  team</td>
  <td>
  Click “Join Team”</td></tr>

<tr valign="top"><td bgcolor="#eee">
  Ask for donations – send 
  emails directly from this site. So easy! </td>
  <td bgcolor="#eee">
  Ask for donations – send 
  emails directly from this site. So easy!</td></tr>
<tr valign="top"><td>
  Show up for your schedule time(s) 
  on September 24th-25th and RAISE YOUR VOICE!</td>

  <td>
  Show up for your schedule time(s) 
  on September 24th-25th and RAISE YOUR VOICE!</td></tr>
</table>
</div>
 
<h3>Prizes</h3>
 

<p>Prizes will be awarded to the 
teams and individuals that raise the most money. More info coming soon 
but don’t worry, they will be sweet prizes.</p>
 
<h3>Donations </h3>
 

  Donations are accepted 
  online only.  Donors can use any major credit card.  Sorry, 
  we can’t accept cash or checks.
  Donations are fully 
  tax deductible.  A reciept will be emailed to donors after their 
  credit card is processed.
  Teams solicit donations 
  by directing friends and family to their team site.

 
    Tell your friends and 
    family via email, word of mouth, posting links on social networking 
    sites, directing people to Voicebox site, etc.
    
  Donations are tracked 
  in real time on the website.
  No refunds will be 
  issued to anyone who donates, regardless of whether cancellation, illness, 
  or acts of god bar the team from participating. All donations will become 
  the property of Ethos Music Center.

  

<h3>What is Ethos Music Center?</h3>
 
<p><b>Ethos Music Center </b>
is dedicated to the promotion of music and music based education for 
youth in underserved communities. Ethos serves over 7,000 students a 
year throughout the state of Oregon with direct and sustained music 
education.  Ethos firmly believes that music education and its 
associated academic benefits keep at-risk children engaged in their 
families, their communities, and their futures.          </p>
 
<p>Ethos is dedicated to continuing 
a tradition of quality programming and organizational sustainability. 
Ethos Music Center has a comprehensive fundraising strategy comprised 
of major gifts, membership, annual appeals, fundraising events, and 
corporate and foundation support. Ethos also generates over 60% of earned 
revenue income through fees-for-services and the operation of the Ethos 
Café.</p>
<p>  </p>
<p>Ethos Music Center maintains a 
low administrative cost of only 11% (most nonprofit organizations operate 
at 18-22%) so financial gifts go directly towards bringing music education 
to the lives of Oregon’s school aged children. </p>

  
<h3>Contact Information</h3>
 
<p>For questions regarding the event, 
or for assistance registering, please email <a href="mailto:raiseyourvoicepdx@gmail.com" target="_blank">raiseyourvoicepdx@gmail.com</a>. 
Be sure to include your team name (if you have one) so that we can best 
assist you.</p>
   

