<h1>Admin Panel</h1>
<div id="mainmenu" style="padding:40px">
<h1>

<%= link_to "Show users", :action => 'index', :controller => 'users' %>
<br/><br/>
 
<%= link_to "show teams", teams_path %>
<br/><br/>

</h1>
</div>

