<h1>Welcome to the VoiceBox Karaokeathon.</h1>
<div id="mainmenu">
<h1>

<%= link_to "Create a team", :action => 'new', :controller => 'teams' %>
<br/><br/>
 
<%= link_to "Find a team",  teams_path %>
<br/><br/>
 
<%= link_to "Donate", donate_path %>
<br/><br/>

<%= link_to "(Administration)", admin_path %>
<br/><br/>

</h1>
</div>

