<h1>Welcome to the VoiceBox Karaokeathon.</h1>
<div id="mainmenu" style="padding:40px">
<h1>
<a href="/start">Start a Team!</><br/><br/>
<a href="/join">Join a Team!</a><br/><br/>
<a href="/donate">Donate!</a><br/><br/>
<a href="/calendar">Calendar</a><br/><br/>
<a href="/news">News</a><br/><br/>
</h1>
</div>

