<h1>RaiseYourVoice Terms of Service and Privacy Policy</h1>

<div>

  <p><font size="3" face="Times New Roman">Ethos Music Center™ 
is a 501(C)(3) organization and all donations are tax deductible to 
the full extent of the law. Donations to Ethos Music Center are processed 
securely using PayPal.  By donating through: </font><a href="http://www.raiseyourvoicepdx.com/" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>www.raiseyourvoicepdx.com</u></font></a><font size="3" face="Times New Roman"> you agree to the following Terms of 
Service.  For more information, please contact the Office of Development 
at Ethos Music Center: (503) 283-8467, ext. 5#. </font> <br></p>

<h2>Terms of Service</h2>

<p><font size="3" face="Times New Roman">I understand that my consent 
to these provisions is given in consideration of the acceptance of this 
registration and for being permitted to participate in this event. I 
am a voluntary participant in this event.  I assume full and complete 
responsibility for any major accident or injury that may occur during 
my participation in this event or while on the premises of the event, 
and I hereby release and hold harmless and covenant not to file suit 
against Ethos Music Center, Voicebox Karaoke, or any affiliated individuals, 
any Raise Your Voice walk sponsors, and their agents or employees. </font> <br>
</p>
<p><font size="3" face="Times New Roman">I also fully understand that 
no refunds will be made available for team registrants or individuals 
that donate to the event. I also understand that photographs videotapes, 
or other recordings may be made during the course of the event. I give 
full permission to Voicebox Karaoke, Ethos Music Center, and any potential 
media outlet to use these materials for promotional purposes.</font></p>

<h2>Privacy Policy</h2>

<p><font size="3" face="Times New Roman"><i>This Privacy Policy is effective 
as of July 1, 2009.</i></font></p>
<p><font size="3" face="Times New Roman">Ethos Music Center provides 
this Privacy Policy to inform users of our policies and procedures regarding 
the collection, use and disclosure of personally identifiable information 
received from users of this website, located at </font><a href="http://www.raiseyourvoicepdx.com" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>www.raiseyourvoicepdx.com</u></font></a><font size="3" face="Times New Roman"> (&quot;Site&quot; ) for the purposes 
of the fundraising event, Raise Your Voice (“Event”). This Privacy 
Policy may be updated from time to time for any reason; each version 
will apply to information collected while it was in place. We will notify 
you of any material changes to our Privacy Policy by posting the new 
Privacy Policy on our Site. You are advised to consult this Privacy 
Policy regularly for any changes.</font></p>

<p><font size="3" face="Times New Roman">By using our Site you are consenting 
to our processing of your information as set forth in this Privacy Policy 
now and as amended by us. &quot;Processing&quot; means using cookies 
on a computer or using or touching information in any way, including, 
but not limited to, collecting, storing, deleting, using, combining 
and disclosing information, all of which activities will take place 
in the United States. If you reside outside the U.S. your personally 
identifiable information will be transferred to the U.S., and processed 
and stored there under U.S. privacy standards. By visiting our Site 
and providing information to us, you consent to such transfer to, and 
processing in, the US.</font></p>
<p><font size="3" face="Times New Roman">If you have any questions or 
comments about this Privacy Policy or our use of your personally identifiable 
information, please contact us at </font><a href="mailto:raiseyourvoicepdx@gmail.com" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>raiseyourvoicepdx@gmail.com</u></font></a><font size="3" face="Times New Roman">.</font></p>
<h3><font size="4" face="Times New Roman"><b>Information Collection 
and Use</b></font></h3>
<p><font size="3" face="Times New Roman">Our primary goals in collecting 
personally identifiable information are to provide you with the product 
and services made available through the Site, including, but not limited, 
to the Event, to communicate with you, and to manage your registered 
user account, if you have one.</font></p>
<p><font size="3" face="Times New Roman"><b>Information Collected Upon 
Registration</b>. If you desire to have access to certain restricted 
sections of the Site, you will be required to become a registered user, 
and to submit certain personally identifiable information to Ethos. 
This happens in a number of instances, such as when you sign up for 
the Event, or if you desire to receive marketing materials and information. 
Personally identifiable information that we may collect in such instances 
may include your IP address, full user name, password, email address, 
city, time zone, telephone number, and other information that you decide 
to provide us with, or that you decide to include in your public profile.</font></p>
<p><font size="3" face="Times New Roman"><b>Additional Information</b> 

Your full user name and your photo, if you decide to upload one, are 
displayed to people on the Site to enable you to connect with people 
on the Site, as specified in your privacy settings, as well as solicit 
donations from friends and family. Once a member, you may provide additional 
information in the profile section, including but not limited to your 
bio, your location, as well as your personal web site, if you have one. 
Providing additional information beyond what is required at registration 
is entirely optional, but enables you to better identify yourself and 
find new friends and opportunities on the Site. If you contact us by 
email through the Site, we may keep a record of your contact information 
and correspondence, and may use your email address, and any information 
that you provide to us in your message, to respond to you.</font></p>
<p><font size="3" face="Times New Roman"><b>Use of Contact Information</b> 
In addition, we may use your contact information to market to you, and 
provide you with information about, our products and services, including 
but not limited to our Event. If you decide at any time that you no 
longer wish to receive such information or communications from us, please 
follow the unsubscribe instructions provided in any of the communications.</font></p>
<p><font size="3" face="Times New Roman"><b>Log Data</b> When you visit 
the Site, our servers automatically record information that your browser 
sends whenever you visit a website (&quot;Log Data&quot; . This Log 
Data may include information such as your IP address, browser type or 
the domain from which you are visiting, the web-pages you visit, the 
search terms you use, and any advertisements on which you click. For 
most users accessing the Internet from an Internet service provider 
the IP address will be different every time you log on. We use Log Data 
to monitor the use of the Site and of our Service, and for the Site&quot;™s 
technical administration. We do not associate your IP address with any 
other personally identifiable information to identify you personally, 
except in case of violation of the Terms of Service</font></p>
<h3><font size="4" face="Times New Roman"><b>Cookies</b></font></h3>
<p><font size="3" face="Times New Roman">Like many websites, we also 
use &quot;cookie&quot; technology to collect additional website usage 
data and to improve the Site and our service. A cookie is a small data 
file that we transfer to your computer&quot;™s hard disk. We do not 
use cookies to collect personally identifiable information. Ethos may 
use both session cookies and persistent cookies to better understand 
how you interact with the Site, to monitor aggregate usage by our users 
and web traffic routing on the Site, and to improve the Site and our 
services. A session cookie enables certain features of the Site and 
our service and is deleted from your computer when you disconnect from 
or leave the Site. A persistent cookie remains after you close your 
browser and may be used by your browser on subsequent visits to the 
Site. Persistent cookies can be removed by following your web browser 
help file directions. Most Internet browsers automatically accept cookies. 
You can instruct your browser, by editing its options, to stop accepting 
cookies or to prompt you before accepting a cookie from the websites 
you visit.</font></p>

<h3><font size="4" face="Times New Roman"><b>Information Sharing and 
Disclosure</b></font></h3>
<p><font size="3" face="Times New Roman"><b>Service Providers</b> We 
engage certain trusted third parties to perform functions and provide 
services to us, including, without limitation, hosting and maintenance, 
customer relationship, database storage and management, and direct marketing 
campaigns. We will share your personally identifiable information with 
these third parties, but only to the extent necessary to perform these 
functions and provide such services, and only pursuant to binding contractual 
obligations requiring such third parties to maintain the privacy and 
security of your data.</font></p>
<p><font size="3" face="Times New Roman"><b>Compliance with Laws and 
Law Enforcement</b> Ethos cooperates with government and law enforcement 
officials or private parties to enforce and comply with the law. We 
may disclose any information about you to government or law enforcement 
officials or private parties as we, in our sole discretion, believe 
necessary or appropriate to respond to claims, legal process (including 
subpoenas), to protect the property and rights of Twitter or a third 
party, the safety of the public or any person, to prevent or stop any 
illegal, unethical, or legally actionable activity, or to comply with 
the law.</font></p>
<h3><font size="4" face="Times New Roman"><b>Changing or Deleting Information</b></font></h3>
<p><font size="3" face="Times New Roman">If you are a registered user 
of the Site, you may access and update or correct the information you 
provided to us by e-mailing us at <a href="mailto:raiseyourvoicepdx@gmail.com" target="_blank">raiseyourvoicepdx@gmail.com</a>.</font></p>
<h3><font size="4" face="Times New Roman"><b>Security</b></font></h3>

<p><font size="3" face="Times New Roman">Ethos is very concerned about 
safeguarding the confidentiality of your personally identifiable information. 
We employ administrative, physical and electronic measures designed 
to protect your information from unauthorized access.</font></p>
<p><font size="3" face="Times New Roman">We will make any legally-required 
disclosures of any breach of the security, confidentiality, or integrity 
of your unencrypted electronically stored personal data to you via email 
or conspicuous posting on this Site in the most expedient time possible 
and without unreasonable delay, consistent with (i) the legitimate needs 
of law enforcement or (ii) any measures necessary to determine the scope 
of the breach and restore the reasonable integrity of the data system.</font></p>
<h3><font size="4" face="Times New Roman"><b>Links to Other Websites</b></font></h3>
<p><font size="3" face="Times New Roman">Our Site contains links to 
other websites. The fact that we link to a website is not an endorsement, 
authorization or representation of our affiliation with that third party. 
We do not exercise control over third party websites. These other websites 
may place their own cookies or other files on your computer, collect 
data or solicit personally identifiable information from you. Other 
sites follow different rules regarding the use or disclosure of the 
personally identifiable information you submit to them. We encourage 
you to read the privacy policies or statements of the other websites 
you visit.</font></p>
<h3><font size="4" face="Times New Roman"><b>Donations and Tax-Deduction</b></font></h3>
<p><font size="3" face="Times New Roman">Ethos Music Center™ 
is a 501(C)(3) organization and all donations are tax deductible to 
the full extent of the law. Donations to Ethos Music Center are processed 
securely using PayPal.  By donating through: </font><a href="http://www.raiseyourvoicepdx.com/" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>www.raiseyourvoicepdx.com</u></font></a><font size="3" face="Times New Roman"> you agree to the following Terms of 
Service.  For more information, please contact the Office of Development 
at Ethos Music Center: (503) 283-8467, ext. 5#. </font> <br></p>
<p><font size="3" face="Times New Roman"> </font></p>


</div>

