<h1>HOW IT WORKS:</h1>
 
<p>
It’s pretty easy. Team Captains start teams and get their friends to join. Captains tell us when the team wants to sing and each team signs up for at least 3 hours work of singing time. Teams commit to raising at least $500 per hour of singing (3 hours = $1,500 goal).
</p>
<p> 
Once the team is formed, your friends can join and ask their friends to help sponsor their teams. All donations are collected and tracked on this site in real time, so everyone can see where they stand. Prizes are awarded to those who raise the most – teams and individuals.
</p>
<p> 
Then, on September 24th, we’ll celebrate our hard work and raise our voices for Ethos and the importance of music education.
</p> 

<p>
<b>
Let’s break it down – follow these easy steps:
</b>
</p>

<table border=1>
<tr>
<td><h2>Team Captains</h2></td>
<td><h2>Team Members</h2></td>
</tr>
<tr>
<td>1. <a href="/signup">Create an account</a></td>
<td>1. <a href="/signup">Create an account</a></td>
<tr/>
<tr>
<td>2. Pay your registration fee ($13)</td>
<td>2. Pay your registration fee ($13)</td>
</tr>
<tr>
<td>3. <a href="/teams/new">Create your team</a> - add your team name, sign up for hours and set your fundraising goal.</td>
<td> Find your team on the <a href="/teams">"Find Teams"</a> page</tr>
<tr>
<td>4. Invite your friends to join your team </td>
<td>4. <a href="/teams">Click "join team"</a></td>
</tr>
<tr>
<td>5. Ask for donations - send emails directly from this site. So easy!</td>
<td>5. Ask for donations - send emails directly from this site. So easy!</td>
</tr>
<tr>
<td>6. Show up for your scheduled time(s) on September 24th - 25th and RAISE YOUR VOICE!</td>
<td>6. Show up for your scheduled time(s) on September 24th - 25th and RAISE YOUR VOICE!</td>
</tr>
</table>


