<h1>Promotional code</h1>
<p>Do you have a promotional code? Please enter it below</p>

<form action="/promo" class="new_user" id="new_user">
  <table>
  <tr>
    <th>Promotional Code</th>
    <td><input id="promo" name="promo" size="30" type="text" /></td>
  </tr>
  </table>
  <input id="user_submit" name="commit" type="submit" value="Send Promo Code" />
</form>
