<h1>Purchase membership</h1>
<p>Your order total is $10.00.  Click below to pay. </p>
<p>
  <%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'),
         :action => 'checkout' %>
</p>

