<div id="sponsor_logos">
<a href="http://www.ethos.org/"><img src="/logos/one.gif"></img></a><br/>
<br/>
<a href="http://www.voiceboxpdx.com/"><img src="/logos/voicebox.jpg"></img></a><br/>
<a href="http://www.947.fm/"><img src="/logos/947.jpg"></img></a><br/>
<br/>
<a href="http://charliefm.com/"><img src="/logos/charlie.gif"></img></a><br/>
<br/>
<a href="http://thinkfiction.com"><img src="/logos/fiction.gif"></img></a><br/>
<br/>
<a href="http://www.portlandmercury.com/"><img src="/logos/merc.gif"></img></a><br/>
<br/>
<a href="http://www.irwinhodson.com/"><img src="/logos/irwin.gif"></img></a><br/>
<br/>

</div>