<a href="http://www.947.fm/"><img src="/logos/947.jpg"></img></a><br/>
<br/>
<a href="http://charliefm.com/"><img src="/logos/charlie.jpg"></img></a><br/>
<br/>
<a href="/"><img src="/logos/fiction.jpg"></img></a><br/>
<br/>
<a href="http://www.portlandmercury.com/"><img src="/logos/merc.jpg"></img></a><br/>
<br/>
<a href="http://www.irwinhodson.com/"><img src="/logos/irwin.jpg"></img></a><br/>
<br/>
<a href="http://www.ethos.org/"><img src="/logos/one.jpg"></img></a><br/>
<br/>
<a href="http://www.voiceboxpdx.com/"><img src="/logos/voicebox.jpg"></img></a><br/>
