<div id="footer" >
  <p>
  <%= link_to "Home", root_url %>&nbsp;.&nbsp;
  <%= link_to "About the Event", about_url %>&nbsp;.&nbsp;
  <%= link_to "Contact Us", "/contact" %>&nbsp;.&nbsp;
  <%= link_to "Terms of Service and Privacy Policy", privacy_url %>&nbsp;.&nbsp;
  </p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-846275-20");
pageTracker._trackPageview();
} catch(err) {}</script>

