<div id="footer" >
  <p>
  <%= link_to "Home", root_url %>&nbsp;.&nbsp;
  <%= link_to "About the Event", about_url %>&nbsp;.&nbsp;
  <%= link_to "Contact Us", "/contact" %>&nbsp;.&nbsp;
  <%= link_to "Terms of Service and Privacy Policy", privacy_url %>&nbsp;.&nbsp;
  </p>
</div>

